@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --Very-dark: hsl(183, 100%, 15%);
    --Dark-grayish: hsl(186, 14%, 43%);
    --Grayish: hsl(184, 14%, 56%);
    --Light-grayish: hsl(185, 41%, 84%);
    --Very-light-grayish: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 1100%);
    /* ... */
  }
}

span::after {
  content: "/person";
  display: block;
  font-size: 12px;
  color: var(--Dark-grayish);
}
h3::before {
  content: "$";
}
